body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 20px;
  color: black;
  display: block;
  justify-content: flex;
}
fieldset {
  border: 5px solid black;
  font-weight: 400px;
  justify-content: flex;
  text-align: center;
  opacity: 80%;
  background-color: rgb(6, 6, 6);
}
div {
  width: 600px;
  padding: 20px;
  margin: 20px;
  border-radius: 90px;
}
nav {
  background-color: red;
  width: 100%;
  height: 10vh;
  border-bottom: 10px solid rgb(38, 31, 31);
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
nav ul li {
  padding: 32px;
  font-size: 20px;
}
h2 {
  font-size: 60px;
  justify-content: center;
  display: flex;
}
input {
  width: 50%;
  font-size: 1.2em;
}
button {
  justify-content: block;
}
