body {
  margin: 0;
  padding: 0;
  color: #003260;
  font-family: "DM Serif Display", serif;
  background: linear-gradient(to bottom, #ffffff, #e8faff, #ffe3e3);
}

header {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #003260;
  font-size: 1.2rem;
  background-color: #04b2e2;
  animation: colorCycle 15s linear infinite;
}

@keyframes colorCycle {
  0% {
    color: #ffffff;
  }
  33% {
    color: #003260;
  }
  66% {
    color: #ffa69e;
  }
  100% {
    color: #ffffff;
  }
}
header h1 {
  margin: 0;
  padding: 0;
}

.house-container {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 25px auto;
}
.house-container .house-img {
  width: 100%;
  border-radius: 20px;
  display: block;
}
.house-container .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.house-container .donate-here {
  background-color: #ffa69e;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  opacity: 95%;
}
.house-container .donate-here:hover {
  color: #ffa69e;
  background-color: #ffffff;
}

.mission {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}
.mission .mission-btn {
  border: 1px solid #ffa69e;
  background-color: #ffa69e;
  padding: 5px 10px;
  border-radius: 10px;
  color: #003260;
  text-decoration: none;
  font-weight: bold;
}
.mission .mission-btn:hover {
  color: #ffffff;
}

.bottom-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.bottom-images .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.bottom-images .image-item img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin: 5px;
}
.bottom-images .image-item .desc {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #003260;
  max-width: 200px;
}

.info-title {
  margin-left: 10px;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: auto;
}

a {
  text-decoration: none;
  color: #003260;
}
a:visited {
  color: #003260;
}
a:hover {
  color: #ffa69e;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  header h1 {
    font-size: 2.8rem;
  }
  .house-img {
    max-width: 85%;
    margin: 0 auto;
  }
  .donate-here {
    font-size: 1.5rem;
  }
  .mission {
    font-size: 1.5rem;
  }
  .bottom-images .image-item.left {
    flex-direction: row;
    text-align: left;
  }
  .bottom-images .image-item.right {
    flex-direction: row-reverse;
    text-align: right;
  }
  .bottom-images .image-item img {
    max-width: 50%;
    height: auto;
  }
  .desc,
  .desc a {
    font-size: 1rem;
  }
  .info-title {
    font-size: 1.5rem;
  }
  .logo {
    max-width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 769px) {
  header h1 {
    font-size: 4rem;
  }
  .house-img {
    max-width: 80%;
    margin: 0 auto;
  }
  .donate-here {
    font-size: 2rem;
  }
  .mission {
    font-size: 2rem;
  }
  .bottom-images .image-item.left {
    flex-direction: row;
    text-align: left;
  }
  .bottom-images .image-item.right {
    flex-direction: row-reverse;
    text-align: right;
  }
  .bottom-images .image-item.right {
    flex-direction: row-reverse;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
  }
  .bottom-images .image-item img {
    max-width: 50%;
    height: auto;
  }
  .desc a {
    font-size: 2rem;
  }
  .info-title {
    font-size: 3rem;
    margin-left: 20px;
  }
  .logo {
    width: 200px;
  }
}