// VARIABLES
$white: #ffffff;
$light-blue: #04b2e2;
$lighter-blue: #e8faff;
$dark-blue: #003260;
$pink: #ffa69e;
$lighter-pink: #ffe3e3;
$black: #000000;
$font1: "DM Serif Display", serif;
$font2: "Playfair Display", sans-serif;

// BASE STYLES
body{
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-family: $font1;
  background: linear-gradient(to bottom, $white,$lighter-blue, $lighter-pink);
}

header {
  text-align: center;
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-size: 1.2rem;
  background-color: $light-blue;
  animation:
  colorCycle 15s linear infinite;}

// Color change cycle
@keyframes colorCycle {
  0%   { color: $white; }
  33%  { color: $dark-blue; }
  66%  { color: $pink; }
  100% { color: $white; }}

header h1 {
  margin: 0;
  padding: 0;} // removed the white space above the header
  

// HOUSE SECTION
.house-container {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 25px auto;

  .house-img {
    width: 100%;
    border-radius: 20px;
    display: block;}

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: $white;
    text-transform: uppercase;}

  .donate-here {
    background-color: $pink;
    color: $white;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    opacity: 95%;
  &:hover {
    color:$pink;
    background-color: $white;}}
  }

// MISSION
.mission {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;

  .mission-btn {
    border: 1px solid $pink;
    background-color: $pink;
    padding: 5px 10px;
    border-radius: 10px;
    color: $dark-blue;
    text-decoration: none;
    font-weight: bold;
   &:hover {
    color:$white;}}
  }

// BOTTOM IMAGES
.bottom-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;

  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    img {
      width: 100%; 
      max-width: 200px;
      border-radius: 10px;
      margin: 5px;}

    .desc {
      font-family: $font2;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      color: $dark-blue;
      max-width: 200px;}}}

//INFO SECTION
.info-title {
  margin-left: 10px;
  text-decoration: none;}

// LOGO 
.logo {
  display: block;
  margin: 20px auto;
  width: 50%;  
  height: auto;}

// LINK STYLES
a {
  text-decoration: none;
  color: $dark-blue;
  
  &:visited {
    color: $dark-blue;}

  &:hover {
    color: $pink;}}


// MEDIA QUERIES
//TABLET
@media screen and (min-width: 321px) and (max-width: 768px) {
  header h1 {font-size: 2.8rem;}

  .house-img {
    max-width: 85%;
    margin: 0 auto;}


  .donate-here {font-size: 1.5rem;}

  .mission {font-size: 1.5rem;}

  // Bottom images: alternate left and right
  .bottom-images .image-item.left {
    flex-direction: row;    // image left, text right
    text-align: left;}

  .bottom-images .image-item.right {
    flex-direction: row-reverse; // image right, text left
    text-align: right;}

  .bottom-images .image-item img {
    max-width: 50%;
    height: auto;}

  .desc,
  .desc a {font-size: 1rem;}

  .info-title {font-size: 1.5rem;}

  .logo {max-width: 50%;
  height: auto;}}


//DESKTOP
@media screen and (min-width: 769px) {
  header h1 {
    font-size: 4rem;}

  .house-img {
    max-width: 80%;
    margin: 0 auto;}

  .donate-here {
    font-size: 2rem;}

  .mission {
    font-size: 2rem;}

// Bottom images: alternate left and right
  .bottom-images .image-item.left {
    flex-direction: row;    // image left, text right
    text-align: left;}

  .bottom-images .image-item.right {
    flex-direction: row-reverse; // image right, text left
    text-align: right;}

.bottom-images .image-item.right {
  flex-direction: row-reverse; // image right, text left
  align-items: flex-start;
  text-align: left;
  gap: 2rem;}


  .bottom-images .image-item img {
    max-width: 50%;
    height: auto;}

  .desc a {
    font-size: 2rem;}

  .info-title {
    font-size: 3rem;
    margin-left: 20px;}

  .logo {
    width: 200px;}}
