// VARIABLES
$white: #ffffff;
$light-blue: #04b2e2;
$dark-blue: #003260;
$pink: #ffa69e;
$black: #000000;
$font1: "DM Serif Display", serif;
$font2: "Playfair Display", sans-serif;

// BASE STYLES
body{
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-family: $font1;}

header {
  text-align: center;
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-size: 1.2rem;
  background-color: $light-blue;}

// HOUSE SECTION
.house-container {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 25px auto;

  .house-img {
    width: 100%;
    border-radius: 20px;
    display: block;}

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: $white;
    text-transform: uppercase;}

  .donate-here {
    background-color: $pink;
    color: $white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    opacity: 95%;}}

// MISSION
.mission {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;

  .mission-btn {
    border: 1px solid $pink;
    background-color: $pink;
    padding: 5px 10px;
    border-radius: 10px;
    color: $dark-blue;
    text-decoration: none;
    font-weight: bold;}}

// BOTTOM IMAGES
.bottom-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;

  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    img {
      width: 100%; 
      max-width: 200px;
      border-radius: 10px;
      margin: 5px;}

    .desc {
      font-family: $font2;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      color: $dark-blue;
      max-width: 200px;}}}

//INFO SECTION
.info-title {
  margin-left: 10px;
  text-decoration: none;}

// LOGO 
.logo {
  display: block;
  margin: 20px auto;
  width: 50%;  
  height: auto;}

// MEDIA QUERIES
//TABLET
@media screen and (min-width: 321px) and (max-width: 768px) {
  header h1 {font-size: 2rem;}

  .donate-here {font-size: 2rem;}

  .mission {font-size: 1.5rem;}

  .bottom-images .image-item img {
    max-width: 70%;
    height: auto;
    margin: 20px 5px 0 30px;}

  .desc, .desc a {font-size: 2rem;}

  .info-title {font-size: 1.5rem;}

  .logo {max-width: 50%;
  height: auto;}}


//DESKTOP
@media screen and (min-width: 769px) {
header h1{font-size: 2.5rem;}

.donate-here{font-size: 2.5rem;}

  .mission {font-size: 2rem;}

  .bottom-images .image-item img {
    max-width: 70%;
    height: auto;}
  
    .desc a{font-size: 2rem;}

.info-title{font-size: 3rem;
  margin-left: 20px;}

  .logo {
    width: 200px;}
  
  .newsletter {font-size: 2rem;}}