body {
  margin: 0;
  padding: 0;
  color: #003260;
  font-family: "DM Serif Display", serif;
}

header {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #003260;
  font-size: 1.2rem;
  background-color: #04b2e2;
}

.house-container {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 25px auto;
}
.house-container .house-img {
  width: 100%;
  border-radius: 20px;
  display: block;
}
.house-container .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.house-container .donate-here {
  background-color: #ffa69e;
  color: #ffffff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  opacity: 95%;
}

.mission {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}
.mission .mission-btn {
  border: 1px solid #ffa69e;
  background-color: #ffa69e;
  padding: 5px 10px;
  border-radius: 10px;
  color: #003260;
  text-decoration: none;
  font-weight: bold;
}

.bottom-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.bottom-images .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.bottom-images .image-item img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin: 5px;
}
.bottom-images .image-item .desc {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #003260;
  max-width: 200px;
}

.info-title {
  margin-left: 10px;
  text-decoration: none;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .donate-here {
    font-size: 2rem;
  }
  .mission {
    font-size: 1.5rem;
  }
  .bottom-images .image-item img {
    max-width: 70%;
    height: auto;
    margin: 20px 5px 0 30px;
  }
  .desc {
    font-size: 2rem;
  }
  .info-title {
    font-size: 1.5rem;
  }
  .logo {
    max-width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 769px) {
  header {
    font-size: 2.5rem;
  }
  .donate-here {
    font-size: 2.5rem;
  }
  .mission {
    font-size: 2rem;
  }
  .bottom-images .image-item img {
    max-width: 70%;
    height: auto;
  }
  .desc {
    font-size: 3rem;
  }
  .info-title {
    font-size: 3rem;
    margin-left: 20px;
  }
  .logo {
    width: 200px;
  }
  .newsletter {
    font-size: 2rem;
  }
}