$primary-color: #04b2e2;
$secondary-color: #003260;
$accent-color: #ffa69e;
$btn-text-color: #fff;
$border-color: rgb(166, 165, 165);

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Playfair Display", sans-serif;
}

/*--- Navigation Bar ---*/
header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: $primary-color;
  z-index: 1;
}
.logo img {
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.mission-sec {
  @include center-items();
  flex-direction: column;

  &__title {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 20px 0 0;
  }

  &__subtitle {
    color: $secondary-color;
    margin: 0 0 10px;
    font-size: 2rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__info {
    @include center-items();
    flex-direction: column;
    padding: 20px;
    min-height: 400px;

    &--color-block {
      background-color: $accent-color;
    }

    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }

    h2,
    p {
      padding: 20px;
    }
  }
}

.mission-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    border-radius: 10px;
    height: 200px;
    width: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .mission-sec__info--block {
    animation: slide-in-left linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 30%;
  }

  .mission-sec__info--color-block {
    animation: slide-in-right linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 30%;
  }
}

@media screen and (min-width: 700px) {
  .mission-sec__img {
    max-height: 400px;
  }

  .mission-block__img {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  #second-mission-block {
    animation-range-end: 10%;
  }
}

@media screen and (min-width: 1200px) {
  #second-mission-block {
    animation-range-end: 30%;
  }

  .mission-sec {
    &__img {
      object-position: 50% 75%;
    }

    &__info--row {
      flex-direction: row;
    }

    &__info--row p {
      margin: 0 10px;
    }

    &__info p {
      width: 60%;
    }
  }
}

// Nav Bar Media Queries
/*small screens*/
@media screen and (max-width: 699px) {
  .curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(4, 178, 226, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.6s ease-in-out;
    z-index: 5;
  }
  .curtain-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .curtain-menu a {
    margin: 0px;
    padding: 30px;
    border-radius: 40px;
  }
  .curtain-menu a:active {
    background-color: rgba(0, 50, 96, 0.9);
  }
  .menu-toggle {
    display: none;
  }
  .menu-toggle:checked ~ .curtain {
    height: 100vh;
  }
  .menu-icon {
    font-size: 50px;
    display: block;
    margin-right: 30px;
    margin-top: -15px;
    color: $secondary-color;
  
  }
  nav .links {
    display: none;
  }
  nav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
}
/* Tablets */
@media screen and (min-width: 700px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .logo img {
    height: 85px;
    width: auto;
    border-radius: 50%;
    margin: 10px 10px;
  }
  input {
    display: none;
  }
  label {
    display: none;
  }
  .curtain {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px 30px;
    gap: 30px;
  }
  ul a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 5px;
    border-radius: 8px;
  }
  ul .btn {
    background-color: $accent-color;
    color: white;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 10px;
  }
  ul a:active {
    color: $secondary-color;
    background-color: white;
  }
    
}
/* Desktops */
@media screen and (min-width: 1200px) {
  ul a {
    text-decoration: none;
    color: white;
  }
  ul .btn {
    background-color: $accent-color;
    color: white;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 10px;
  }
  ul a:hover {
    color: $secondary-color;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }
  ul .btn:hover {
    background-color: $secondary-color;
    color: white;
  }
}

footer {
  margin-top: auto;
  background-color: #04b2e2;
  color: white;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

.trademark {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #b3b3b3;
}

.disclosure {
  font-size: 0.8rem;
  color: white;
  max-width: 600px;
  line-height: 1.4;
  margin-top: 5px;
}
