// Variables
$primary-color: #04B2E2;
$secondary-color: #003260;
$accent-color: #FFA69E;
$btn-text-color: #fff;
$border-color: rgb(166, 165, 165);

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from { scale: .8; opacity: 0; }
  to { scale: 1; opacity: 1; }
}

// @keyframes slide-in-right {
//   from {
//     transform: translateX(100%);
//     opacity: 0;
//   }
//   to {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

// @keyframes slide-in-left {
//   from {
//     transform: translateX(-100%);
//     opacity: 0;
//   }
//   to {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

body {
  margin: 0;
  font-size: 1rem;
}

header,
footer {
  background-color: $primary-color;
  height: 80px;
}

.mission-sec {
  @include center-items();
  flex-direction: column;

  &__title {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 20px 0 0;
  }

  &__subtitle {
    color: $secondary-color;
    margin: 0 0 10px;
    font-size: 2rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__info {
    @include center-items();
    flex-direction: column;
    padding: 20px;
    min-height: 400px;

    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    h2, p {
      padding: 20px;
    }
  }
}

.mission-sec__info--block {
  // transform: translateX(-100%);
  // opacity: 0;

  // &.is-visible {
  //   animation: slide-in-left 1s ease-out forwards;
  // }
}

.mission-sec__info--color-block {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
  background-color: $accent-color;
  // transform: translateX(100%);
  // opacity: 0;

  // &.is-visible {
  //   animation: slide-in-right 1s ease-out forwards;
  // }
}


@media screen and (min-width: 700px) {
  .mission-sec {

    &__info {
      display: flex;
      align-items: flex-start;

      &--color-block {
        align-items: flex-end;
      }
    }
  }
}