// VARIABLES
$primary-color: #04b2e2;
$secondary-color: #ffa69e;
$text-color: #333;
$border-color: #a6a5a5;
$btn-text-color: #fff;
$background-light: #f9f9f9;
$largefont: 20px;
$mediummfont: 15px;
$smallfont: 10px;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: $text-color;
}

p {
  font-size: $largefont;
  color: $secondary-color;
  text-align: center;
}
.contact-title {
  text-align: center;
  color: $primary-color;
  font-size: 2.5rem;
  margin-top: 30px;
}

.contact-form,
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  background-color: $background-light;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;

  .radio {
    color: $primary-color;
    justify-content: center;
    display: grid;
    font-size: $smallfont;
  }

  label {
    font-weight: 550;
    margin-top: 10px;
  }

  input,
  textarea {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    margin-right: 8px;
    accent-color: $primary-color;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .options {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: $primary-color;
    justify-content: center;
    display: flex;
  }

  input[type="submit"] {
    background-color: $primary-color;
    color: $btn-text-color;
    border: round;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
  }
  section {
    justify-content: center;
    display: center;
  }
}
footer {
  background-color: #04b2e2;
  color: white;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

.trademark {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #b3b3b3;
}

.disclosure {
  font-size: 0.8rem;
  color: white;
  max-width: 600px;
  line-height: 1.4;
  margin-top: 5px;
}
header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: $primary-color;
}
.logo img {
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
