body {
  margin: 0;
  font-size: 1rem;
  font-family: "Playfair Display", sans-serif;
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: #04B2E2;
}

footer {
  background-color: #04B2E2;
  height: 80px;
}

.donation-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation-sec .donation-title,
.donation-sec .donation-subtitle {
  margin: 5px;
}
.donation-sec .donation-title {
  color: #04B2E2;
  font-size: 3rem;
  margin: 30px 0 0;
}
.donation-sec .donation-subtitle {
  color: #003260;
  text-transform: uppercase;
}
.donation-sec .donation-info {
  line-height: 1.5;
  max-width: 400px;
  margin: 20px;
}

.donation-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.donation-form__type-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 0 10px 0;
}
.donation-form .donate-btn {
  border: none;
  border-radius: 10px;
  padding: 20px 15px;
  font-size: 1rem;
  font-weight: 600;
  width: 170px;
  cursor: pointer;
}
.donation-form .donate-btn--selected {
  background-color: #04B2E2;
}
.donation-form__label {
  margin-top: 8px;
  font-weight: 550;
}
.donation-form__label--required:after {
  content: " *";
  color: red;
}
.donation-form input {
  border: 2px solid rgb(166, 165, 165);
  border-radius: 10px;
  height: 44px;
  width: 90%;
  padding: 0 10px;
  margin: 8px 0;
}
.donation-form input:focus {
  border-color: #003260;
  outline: none;
}
.donation-form #donation-form__submit-btn {
  background-color: #04B2E2;
  font-size: 1.25rem;
  margin: 16px 0;
  width: 100%;
}

.get-involved {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-involved__title {
  font-size: 3rem;
  color: #003260;
}
.get-involved__info {
  margin: 15px;
}
.get-involved img {
  border-radius: 20px;
  width: 90%;
  height: auto;
}

.reach-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.reach-out__subtitle, .reach-out__sub-info {
  margin: 10px;
}
.reach-out__sub-info {
  margin-top: 0;
}
.reach-out__con-btn {
  background-color: #04B2E2;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 170px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .main-info {
    display: flex;
    flex-direction: row;
  }
  .donation-sec {
    width: 50%;
  }
  .get-involved {
    width: 50%;
  }
  .get-involved__info {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .get-involved__info {
    max-width: 700px;
  }
  .get-involved img {
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .donation-form {
    width: 50%;
  }
  .donation-form__type-btn,
  .donation-form #donation-form__submit-btn {
    width: 105%;
  }
  .donation-form__lg {
    display: flex;
    width: 105%;
  }
  .donation-form__lg #first-name,
  .donation-form__lg #address-line-1,
  .donation-form__lg #city {
    margin-right: 20px;
  }
  .donation-form input {
    width: 100%;
  }
  .reach-out__title {
    font-size: 1.75rem;
    margin: 0 0 5px;
  }
  .reach-out__sub-info {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=donate.css.map */