// Variables
$primary-color: #04B2E2;
$secondary-color: #003260;
$accent-color: #FFA69E;
$btn-text-color: #fff;
$border-color: rgb(166, 165, 165);

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Playfair Display", sans-serif;
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: $primary-color;
}

footer {
  background-color: $primary-color;
  height: 80px;
}

// main {
//   display: flex;
//       flex-direction: column-reverse;
// }

.donation-sec {
  display: flex;
  flex-direction: column;
  align-items: center;

  .donation-title,
  .donation-subtitle {
    margin: 5px;
  }
  
  .donation-title {
    color: $primary-color;
    font-size: 3rem;
    margin: 30px 0 0;
  }

  .donation-subtitle {
    color: $secondary-color;
    text-transform: uppercase;
  }

  .donation-info {
    line-height: 1.5;
    max-width: 400px;
    margin: 20px;
  }
}

.donation-form {
  display: flex;
  flex-direction: column;
  width: 90%;

  &__type-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }

  .donate-btn {
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 1rem;
    font-weight: 600;
    width: 170px;
    cursor: pointer;

    &--selected {
      background-color: $primary-color;
    }
  }

  &__label {
    margin-top: 8px;
    font-weight: 550;

    &--required:after {
      content:" *";
      color: red;
    }
  }

  input {
    border: 2px solid $border-color;
    border-radius: 10px;
    height: 44px;
    width: 90%;
    padding: 0 10px;
    margin: 8px 0;
  }

  input:focus {
    border-color: $secondary-color;
    outline: none;
  }

  #donation-form__submit-btn {
    background-color: $primary-color;
    font-size: 1.25rem;
    margin: 16px 0;
    width: 100%;
  }
}

.get-involved {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 3rem;
    color: $secondary-color;
  }

  &__info {
    margin: 15px;
  }

  img {
    border-radius: 20px;
    width: 90%;
    height: auto;
  }
}

.reach-out {
  @include center-items();
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  &__subtitle,
  &__sub-info {
    margin: 10px;
  }
  
  &__sub-info {
    margin-top: 0;
  }
  
  &__con-btn {
    background-color: $primary-color;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 170px;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  .main-info {
    display: flex;
    flex-direction: row;
  }

  .donation-sec {
    width: 50%;
  }

  .get-involved {
    width: 50%;

    &__info {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .get-involved {
    &__info {
      max-width: 700px;
    }
    
    img {
      height: 900px;
      object-fit: cover;
    }
  }

  .donation-form {
    width: 50%;

    &__type-btn,
    #donation-form__submit-btn {
      width: 105%;
    }

    &__lg {
      display: flex;
      width: 105%;

      #first-name,
      #address-line-1,
      #city {
        margin-right: 20px;
      }
    }
    
    input {
      width: 100%;
    }
  }

  .reach-out {
    &__title {
      font-size: 1.75rem;
      margin: 0 0 5px;
    }

    &__sub-info {
      font-size: 1.25rem;
    }
  }
}
